<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'cssfiles/style.css' %}">
</head>

<body>
    <Center>
       
        <h1 >Welcom To Login & Signup Page</h1>
        <br>
        <br>
        <div class="container">
            <br>
            <br>
            <form method="post">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" name="" value="login">
                <p>Dont have an Account?<br><a href="/signup">Signup</a></p>
            </form>
        </div>
    </Center>
</body>

</html>