html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#355C7D,#6C5B7B,#C06C84);
}
.container{
    height: 390px;
    width: 600px;
    background-color: white;
    border-radius: 15px ;
    border-color: aquamarine;
}

.log{
    height: 30px;
    width: 20px;
    background-color: #2C5364;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;  
}
